@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Orbitron:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Orbitron;
}

.container {
  display: flex;
  height: 100vh;
}

.left-section {
  flex: 1;
  background-color: #000;
  color: #fff;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-section>p {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 120px;
  line-height: 1.2;
  color: #57b8ff;
}

.about p {
  font-size: 72px;
  margin-bottom: 43px;
}

.text p {
  font-size: 18px;
  color: #999;
  margin-bottom: 53px;
}

.buttons {
  display: flex;
  align-items: center;
}

.button-primary {
  width: 203px;
  height: 70px;
  background-color: #4db8ff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.button-secondary {
  margin-left: 40px;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}

.right-section {
  flex: 1;
  background-color: #4db8ff;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.character-main {
  width: 300px;
  height: auto;
  border-radius: 30px;
  background-color: #fff;
  padding: 20px;
  z-index: 1;
}

.character-small {
  position: absolute;
  width: 60px;
}

.character-top-right {
  top: 80px;
  right: 100px;
}

.character-bottom-left {
  bottom: 80px;
  left: 100px;
}

.live-tag {
  position: absolute;
  top: 20px;
  left: 60%;
  background-color: red;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

header a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: 500;
}

.nav-links a:first-child {
  color: #fac422;
  font-size: 16px;
}

header .contact-button {
  border: 1px solid white;
  padding: 10px 20px;
  color: #4db8ff;
  cursor: pointer;
}

.home-img {
  width: 660px;
  height: 518px;
  margin-top: 50px;
}

.yellow {
  max-width: 1600px;
  width: 100%;
  height: 542px;
  background-color: #fdd04a;
  margin: 0 auto;
}

.yellow-container {
  position: relative;
  top: 130px;
  width: 1320px;
  height: 282.42px;
  margin: 0 auto;
}

.sponsor p {
  text-align: center;
  font-size: 48px;
  margin-bottom: 44px;
}

.text2 p {
  font-size: 16px;
  text-align: center;
  line-height: 26px;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icons img {
  width: 193px;
  height: 89px;
  margin-top: 44px;
}

.home2 {
  max-width: 1600px;
  width: 100%;
  height: 1072px;
  background-image: url(../images/home2.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: -120px;
}

.title {
  position: relative;
  top: 130px;
  width: 1320px;
  height: 812px;
  margin: 0 auto;
}


.title>p {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 120px;
  line-height: 1.2;
  color: #57b8ff;
  text-align: center;
}

.about2 p {
  font-size: 64px;
  color: white;
  margin-bottom: 43px;
  text-align: center;
}

.text2 p {
  font-size: 18px;
  color: #999;
  margin-bottom: 53px;
}

.small-container {
  margin-top: 63px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 35px;
}

.box {
  width: 642px;
  height: 212px;
  border-radius: 10px;
  background-color: rgba(205, 204, 204, 0.191);
}

.box p {
  margin-top: 19px;
  font-size: 18px;
  color: #999;
  margin-left: 87.71px;
}

.box p:first-child {
  color: white;
  font-size: 32px;
  margin-top: 35.42px;
  margin-left: 87.71px;
}

.home3 {
  max-width: 1600px;
  width: 100%;
  height: 721px;
  background-color: #000;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card1 {
  width: 732.66px;
  height: 474px;
  margin-left: 60px;
}

.card1>p {
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 120px;
  line-height: 1.2;
  color: #57b8ff;
}

.home3-about p {
  font-size: 64px;
  color: white;
  margin-top: 11px;
  line-height: 74px;
}

.home3-text p {
  font-size: 20px;
  color: #999;
  margin-top: 38px;
  line-height: 30px;
}

.home3-button p {
  width: 203px;
  height: 70px;
  margin-top: 54px;
  font-size: 18px;
  background-color: #57b8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.card2 img {
  width: 492px;
  height: 550px;
  margin-top: 86px;
  margin-right: 60px;
}

.home4 {
  max-width: 1600px;
  width: 100%;
  height: 732px;
  margin: 0 auto;
  margin-top: -1px;
}

.home4-img img {
  width: 100%;
  height: 100%;
}

.home5 {
  position: relative;
  max-width: 1600px;
  width: 100%;
  height: 1124px;
  margin: 0 auto;
  background-color: #000;
}

.home5-container {
  width: 1320px;
  height: 962px;
  margin: 0 auto;
}

.home5-container>p {
  position: relative;
  top: 75px;
  font-size: 16px;
  margin-bottom: 15px;
  line-height: 1.2;
  color: #57b8ff;
}

.home5-container>p:nth-child(2) {
  font-size: 64px;
  color: white;
}

.aab {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.aab p:first-child {
  font-size: 64px;
  color: white;
  margin-top: 60px;
}

.aab p:nth-child(2) {
  width: 175px;
  height: 70px;
  background-color: #57b8ff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 17px;
  margin-top: 60px;
}

.group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.home5-group {
  width: 648px;
  height: 702px;
}

.home5-group img {
  width: 100%;
  height: 510px;
  margin-top: 64px;
}

.home5-group p {
  color: #57b8ff;
  font-size: 18px;
  margin-top: 54px;
}

.home5-group p:nth-child(3) {
  color: white;
  font-size: 36px;

  margin-top: 24px;
}

.home5-group2 {
  width: 648px;
  height: 682px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
}

.card {
  width: 312px;
  height: 321px;
  margin-top: 64px;
}

.card img {
  width: 312px;
  height: 189px;
}

.card p {
  color: #57b8ff;
  font-size: 16px;
  margin-top: 30px;
}

.card p:nth-child(3) {
  color: white;
  font-size: 24px;
  margin-top: 20px;
}

.home6 {
  background-image: url(../images/home6.png);
  max-width: 1600px;
  height: 683px;
  background-position: center;
  margin: 0 auto;
}

.home6-container {
  position: relative;
  top: 129.61px;
  width: 847px;
  height: 423px;
  margin: 0 auto;
}

.home6-about p{
  color: black;
  font-size: 72px;
  margin-bottom: 51px;
  text-align: center;
}

.home6-text p{
  color: #999;
  font-size: 18px;
  margin-bottom: 51px;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.home6-btn {
  display: flex;
  justify-content: center;
}

.home6-btn p:first-child {
  width: 445px;
  height: 70px;
  color: #555;
  background-color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 13px;
}

.home6-btn p:nth-child(2) {
  width: 221px;
  height: 70px;
  color: #fff;
  background-color: #57b8ff;
  font-size: 18px;
  display: flex;
  align-items: center;
  padding-left: 13px;
}